<h2>seznam porad</h2>

<table>
  <thead>
    <tr>
      <th>Cislo porady</th>
      <th>Datum</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @poradas.each do |porada| %>
      <tr>
        <td><%= porada.id %></td>
        <td><%= porada.datum %></td>
        <td><%= link_to 'Show', porada %></td>
        <td><%= link_to 'Edit', edit_porada_path(porada) %></td>
        <td><%= link_to 'Destroy', porada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

