<p id="notice">
	<%= notice %>
</p>

<div class="well well-lg">
	<h1> <%= "PV " + @porada.datum.to_s %> </h1>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Reporty</h2>
		</div>
		<div class="panel-body">

			<% @porada.reports.each do |report| %>

			<ul class="list-group">
				<!--><li class="list-group-item courier"><strong><%= FUNKCE %></li></strong><!-->
				<li class="list-group-item"><%= report.obsah %></li>
			</ul>
			
			<% end %>
		</div>
	</div>


	
		<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Jednání</h2>
		</div>
		<div class="panel-body">

			<% @porada.jednanis.each do |jednani| %>

			<ul class="list-group">
				<li class="list-group-item courier"><strong><%= jednani.tema %></li></strong>
				<li class="list-group-item"><%= jednani.obsah %></li>
			</ul>

			<% end %>
		</div>
	</div>

	<%= link_to "Vložit nový report", new_report_path(porada_id: @porada.id), :class => "btn btn-primary" %>

	<%= link_to "Vložit nové jednání", new_jednani_path(porada_id: @porada.id), :class => "btn btn-primary" %>

	<%= link_to 'Upravit poradu', edit_porada_path(@porada), :class => "btn btn-default" %> |
	<%= link_to 'Zpět', poradas_path, :class => "btn btn-default" %>

</div>
