<%= form_for(@jednani) do |f| %>
  <% if @jednani.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jednani.errors.count, "error") %> prohibited this jednani from being saved:</h2>

      <ul>
      <% @jednani.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :porada_id, :value => @porada_id %>
  </div>
  <div class="field">
    <%= f.label :tema %><br>
    <%= f.text_field :tema %>
  </div>
  <div class="field">
    <%= f.label :obsah %><br>
    <%= f.text_area :obsah %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
