<h2>seznam ukolu</h2>

<table>
  <thead>
    <tr>
      <th>Porada</th>
      <th>Manazer</th>
      <th>Popis</th>
      <th>Splnen</th>
      <th>Deadline</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ukols.each do |ukol| %>
      <tr>
        <td><%= ukol.porada_id %></td>
        <td><%= ukol.manazer_id %></td>
        <td><%= ukol.popis %></td>
        <td><%= ukol.splnen %></td>
        <td><%= ukol.deadline %></td>
        <td><%= link_to 'Show', ukol %></td>
        <td><%= link_to 'Edit', edit_ukol_path(ukol) %></td>
        <td><%= link_to 'Destroy', ukol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

