<p id="notice"><%= notice %></p>

<p>
  <strong>Porada:</strong>
  <%= @ukol.porada_id %>
</p>

<p>
  <strong>Manazer:</strong>
  <%= @ukol.manazer_id %>
</p>

<p>
  <strong>Popis:</strong>
  <%= @ukol.popis %>
</p>

<p>
  <strong>Splnen:</strong>
  <%= @ukol.splnen %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @ukol.deadline %>
</p>

<%= link_to 'Edit', edit_ukol_path(@ukol) %> |
<%= link_to 'Back', root_path %>
